<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="stylesheet" href="styles/partials/page-sucess.css">
    <link rel="stylesheet" href="/styles/main.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-sucess">
    <div id="container">
        <div class="logo-container">
            <img src="/images/icons/success-check-icon.svg" alt="sucesso">
            <h1>Cadastro salvo!</h1>
            <h2>Tudo certo. Seu cadastro está na lista de professores.<br>Agora é só ficar de olho no seu WhatsApp.</h2>
            <div class="buttons-container">
                <a class="list" href="/study">
                    Acessar a lista
                </a>
            </div>
        </div>

        <img class="sucess-image" src="/images/success-background.svg" alt="Sucesso ao cadastrar">
        
    </div>
    
</body>
</html>